# Node
node_modules/
.next/
out/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Go & Binary
backend/server
backend/uploads/*
!backend/uploads/.gitkeep
backend/ecommerce.db*

# Databases
*.sqlite3
postgres_data/

# OS
.DS_Store
Thumbs.db
