# Backend Configuration
PORT=80
GIN_MODE=release
DATABASE_URL=ecommerce.db
ADMIN_PASSWORD=Malulo23
MP_ACCESS_TOKEN=TEST-6447849483321584-051015-8d598585474747474747474747474747-000000000
UPLOAD_DIR=./uploads

# Dominio y Certificado SSL Let's Encrypt Automático
# Si tienes un dominio apuntando a la IP de tu servidor, escríbelo aquí:
DOMAIN=bere.vnd.mom
